_target_: networks.graph_encoder.gnn.Multi_XAI_GNN
_recursive_: false

sparsification_layer:
  _target_: networks.graph_encoder.gnn.Sparsification_Module
  _recursive_: false
  in_dim: {}
  hidden_dim: 512 # ${manager.agent.graph_encoder.hidden_dim} 
  num_heads: 4 # number of heads for TransformerCoarsening
  num_layers: 2 # number of layers for TransformerCoarsening
  dropout_prob: 0.3
  coars_type: TransformerFiLMDecoder
  sampling_strategy: "topk_PerTask"
  differentiable_dropping_nodes: True
  scoring_strategy: sigmoid 

  l0_reg_weight: 0.0
  variance_weight: 0.0 #10e-3
  sum_mask_weight: 0.0
  target_sum_node_probs: 6 # per graph; only relevant if sum_mask_weight != 0
  uniform_dist_weight: 1e-1 # 16e-2 #5e-3
  uniform_except_middle_weight: 0.0 # 10e-2
  uniform_except_middle_offset: 0.15
  threshold_sum_weight: 0.0

  # for l0-reg
  gamma: -0.1
  zeta: 1.1
  beta: 0.66

  # topk
  sample_abs: 5

input_dim: {}
hidden_dim: 512
output_dim: 512
edge_dim: 1
num_layer: 2
layer_name: "GATv2"
pool_name: "mean" # mean, max, sum
heads: 4
dropout: 0.3
modalities: ${manager.graph_modalities}